<html>
<body>
    <h3>Forecasting sales of product</h3>

<div>
  <form action="/predict" method="POST">
    <label for="item_id">Item id</label>
    <select id="item_id" name="Item id">
  		<option value="FOODS_1_085">FOODS_1_085</option>
      <option value="HOBBIES_1_008">HOBBIES_1_008</option>
      <option value="HOUSEHOLD_1_055">HOUSEHOLD_1_055</option>
	  </select>
	<label for="store_id">Store id</label>
    <select id="store_id" name="store_id">
  		<option value="CA_1">CA_1</option>
  		<option value="CA_2">CA_2</option>
  		<option value="CA_3">CA_3</option>
  		<option value="CA_4">CA_4</option>
  		<option value="TX_1">TX_1</option>
  		<option value="TX_2">TX_2</option>
  		<option value="TX_3">TX_3</option>
  		<option value="WI_1">WI_1</option>
  		<option value="WI_2">WI_2</option>
  		<option value="WI_3">WI_3</option>
	</select>
	<br>
	<br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>